.center {
    width: 50%;
    margin: auto;
}

label, input {
    position:relative ;
    display: block;
    width: 174px;
    box-sizing: border-box;
}

.rounded {
    border-radius: 25px;
    background: #ffffff;
    padding: 20px;
    width: 200px;
    height: 10px; 
}

